<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progate</title>
    <link rel="stylesheet" href="posts.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>


    <header>
      <div class="container">
        <div class="header-left">
          <img class="logo" src="./assets/gochisou_logo.png">
        </div>
        <div class="menu-icon">
          <span class="fa fa-bars"></span>
        </div>
        <div class="header-right">
          <a href="#">新規登録</a>
          <a href="#" class="login">ログイン</a>
        </div>
      </div>
    </header>


    <div class="top-wrapper">
      <div class="container">
        <h1>仕事じゃなくてお手伝い。</h1>
        <h1>友人や知人、あの人の力になろう。</h1>
        <h1>助けてくれたら、お礼にゴチソウを。</h1>
        <div class="btn-wrapper">
          <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterログイン</a>
        </div>
      </div>
    </div>


    <div class="example-wrapper">
      <div class="container">
        <div class="heading">
          <h2>色んなお手伝いを依頼</h2>
        </div>
        <div class="examples">
          <div class="example">
            <img src="./assets/move.png">
            <p class="text-contents">引っ越し</p>
          </div>
          <div class="example">
            <img src="./assets/diy.png">
            <p class="text-contents">家具の組み立て</p>
          </div>
          <div class="example">
            <img src="./assets/volunteer.png">
            <p class="text-contents">ボランティア活動</p>
          </div>
          <div class="example">
            <img src="./assets/introduce.png">
            <p class="text-contents">人の紹介</p>
          </div>
          <div class="example">
            <img src="./assets/study.png">
            <p class="text-contents">テスト勉強</p>
          </div>
          <div class="example">
            <img src="./assets/party.png">
            <p class="text-contents">合コンメンバー</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>


    <div class="howto-wrapper">
      <div class="container">
        <div class="heading">
          <h2>使い方はカンタン</h2>
        </div>
        <div class="howtos">
          <div class="howto">
            <div class="howto-icon">
              <img src="https://prog-8.com/images/html/advanced/html.png">
              <p>お手伝いを求める</p>
            </div>
            <p class="text-contents">手伝って欲しいことを入力し、投稿。<br>力になってくれる人が集まります。</p>
          </div>
          <div class="howto">
            <div class="howto-icon">
              <img src="https://prog-8.com/images/html/advanced/jQuery.png">
              <p>実際にお手伝い</p>
            </div>
            <p class="text-contents">声をかけてくれた人とDMでコミュニケーションをとり、いざ当日。</p>
          </div>
          <div class="howto">
            <div class="howto-icon">
              <img src="https://prog-8.com/images/html/advanced/ruby.png">
              <p>お礼にゴチソウ</p>
            </div>
            <p class="text-contents">力になってくれたらお礼にゴチソウをしましょう。</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>


    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>お手伝いとゴチソウでもっと繋がる</h2>
        </div>
        <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterログイン</a>
      </div>
    </div>


    <footer>
      <div class="container">
        <img src="./assets/gochisou_logo_w.png">
        <p>© 2018 gochisou</p>
      </div>
    </footer>


  </body>
</html>
